:host {
  width: 100%;
  .product-container {
    width: 100%;
    padding: 60px 146px;
    display: flex;
    flex-wrap: wrap;

    &--item {
      width: 33.33%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
