:host {
  width: 100%;

  header {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e4e4e4;
    background-color: #FFFFFF;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      li {
        a {
          text-decoration: none;
          color: #2d2b32;
          padding: 0 1.6rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-weight: bold;
        }
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: bold;
    }

    mat-menu {
      display: none;
    }
  }
}
